:root {
    --mainWidth: 1500px;

    --headerColor: white;
    --footerColor: white;
    --backgroundColor: white;
    --buttonColor: black;

    --headerTextColor: black;
    --buttonTextColor: white;
    --textColor: black;
    --footerTextColor: black;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    border: none;
    margin: 0;
    padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

body {
    min-height: 100vh;
    color: var(--textColor);
    font-family: sans-serif;
    background: var(--backgroundColor);
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
}