/* Removes all the stupid things from browser and makes sure everything fits well. */
*,  *::before, *::after  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

body {
    min-height: 100vh;
    color: #3E4042;
    font-family: sans-serif;
    background: #EAE6E5;
}

/* Makes sure that images always fit and are visible. */
img, picture, svg, video {
    display: block;
    max-width: 100%;
}

/* Makes sure that all clickable have a pointer cursor. */
label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
}
